/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Freemono', cursive;
}


/* header styles */

h1 {
    font-size: 30px;
    text-align: center;
}


/*.parrafo{
  font-family: 'Bangers', cursive;
}*/

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}


/* section styles */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

#a {
    background-color: red;
    width: 33%;
    float: left
}

#b {
    background-color: gold;
    width: 33%;
    float: left
}

#c {
    background-color: green;
    width: 33%;
    float: left;
}

h1 {
    background-color: #FFFFAA;
    color: red;
}

h2 {
    color: rgba(255, 100, 100, 0.5);
}

article {
    border: 1px solid #000;
}

.empresas article h2 {
    color: #000!important;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

section article {
    width: 40%;
    float: left;
    margin: 20px 22px 10px 30px;
    padding: 10px;
    min-height: 240px;
    border: 2px solid black;
    background-color: aliceblue;
}

.colExample {
    background-color: aliceblue;
    min-height: 300px;
}